/* Layout, dimensions and backgrounds. */
body {
  background: #262626 url('images/body-noise.gif');
}
div#navigation {
  background: url('images/page-top-background.jpg') repeat-x;
}
div#branding {
  text-align: right;
}
div#branding,
div#page,
div#footer {
  margin: 0 auto;
  width: 710px;
}
div#sidebar {
  float: left;
  width: 200px;
}
.one-sidebar div#content {
  float: right;
  width: 500px;
}
.limiter {
 width: auto; 
}
a#logo {
  position: relative;
  right: -20px;
}
div#footer {
  margin-top: 50px;
}












/* Typography. */
body {
  color: #fff;
  font-family: Georgia;
}
h1 {
  font-size: 3.0em;
  padding-bottom: 1em;
}
h2 {
  border-bottom: 1px solid #555;
  font-family: Georgia, serif;
  font-size: 2.1em;
  font-weight: normal;
  margin-bottom: 20px;
  padding-bottom: 35px;
}
h3, .sidebar h2 {
  border-bottom: 1px solid #555;
  font-size: 1.4em;
  margin-bottom: 18px;
  padding-top: 22px;
  padding-bottom: 18px;
}
h4 {
  font-size: 1.8em;
  margin-bottom: 0.7em;
}
p {
  color: #ddd;
  padding-bottom: 1em;
}
#main p, #main li {
  font-size: 1.4em;
  line-height: 1.5714em;
  margin-bottom: 1.5714em;
}
.block p {
  font-size: 1.2em;
  padding-bottom: 1.5714em;
  line-height: 1.5714em;  
}
div#footer p {
  font-size: 0.9em;
}
strong {
  color: #fff;
  border-bottom: 2px dotted #a00;
}
code {
  display: block;
  color:  green;
  background:  black;
  padding: 5px;
  margin: 0;
  overflow: auto;
}
a:link  {
  color: #7777FF;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px #FFFFFF solid;
}
/* Alternative font family. */
ul.primary-links li a,
.help {
  font-family: "gill sans", "trebuchet ms", sans-serif;
}
















div#primary-links {
  margin: 0 auto;
  position: relative;
  width: 710px;
}
ul.primary-links {
  float: left;
  left: -10px;
  list-style-type: none;
  position: absolute;
  top: 5px;
  text-indent: 0;
  z-index: 100;
}
ul.primary-links li {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: url('images/nav-button-right.jpg') no-repeat right top;
}
ul.primary-links li.last {
  background: url('images/nav-button-right-last.jpg') no-repeat right top;
  padding-right: 10px;
}
ul.primary-links li a {
  background: url('images/nav-button-left.jpg') no-repeat -10px 0;
  border-bottom: none;
  color: #555;
  display: block;
  font-family: "gill sans", "trebuchet ms", sans-serif;
  font-size: 0.7em;
  height: 38px;
  line-height: 29px;
  margin: 0;
  outline: none;
  padding: 1px 10px 0;
}
ul.primary-links li.first a {
  padding-left: 20px;
  background-position: 0 0;
}
ul.primary-links li a:hover,
ul.primary-links li.active a {
  color: #fff;
}
ul.primary-links li:hover {
  margin-top: 1px;
}
ul.primary-links li a:active {
  color: #7777FF;
}





h4#intro {
  color: #777;
  font-weight: normal;
  font-size: 2.0em;
  line-height: 1.2;
}

.view-work a.portfolio-thumb {
  width: 190px;
  float: left;
  margin-left: 10px;
}

div.portfolio-images img {
  border: 1px solid #111;
}

div.portfolio-images a {
  float: left;
  border-bottom: none;
}

a.portfolio-thumb {
  display: block;
  margin-bottom: 0;
  border-bottom: none;
}

a.portfolio-thumb:hover {
  border-bottom: none;
}

a.portfolio-thumb img {
  border: none;
  background: url('images/portfolio_thumb_shadow.jpg') no-repeat top left;
  padding: 10px;
  position: relative;
  left: -10px;
}

a.portfolio-thumb:hover img {
  background-position: bottom left;
}

div.portfolio-images a.portfolio-thumb img {
  background-image: url('images/portfolio_thumb_shadow_small.jpg');
}

a.portfolio-url {
  font-size: 0.9em;
}

#main .categories p {
  font-size: 1.0em;
  padding-bottom: 0;
  color: #999;
}

#main .categories p span {
  color: #666;
}

div.categories {
  position: relative;
  top: -15px;
}


#work-list li {
  list-style-type: none;
  padding-bottom: 0;
}

#work-list li a.active {
  color: #fff;
}

#work-list li a:visited {
  background: url('images/tick.gif') left center no-repeat;
  padding-left: 20px;
  border-bottom: 0;
  position: relative;
  left: -20px;
}

#main .terms ul {
  list-style-type: none;
}

#main .terms li {
  float:  left;
  padding-right: 10px;
  font-size: 1.0em;
  padding-bottom: 0;
  color: #999;
}


div.sidebar {
  width: 190px;
  float: right;
  margin-right: 10px;
}


div#footer p {
  width: 710px;
  margin: 0 auto;
  padding-left: 20px;
  color: #666;
}



#page-contact div.form-item {
  margin: 15px 0;
}

#page-contact input {
  font-size: 1.1em;
  width: 240px;
}

#page-contact input#edit-submit {
  width: auto;
}

#page-contact label {
  font-weight: bold;
  font-size: 1.1em;
  display: block;
  margin-bottom: 2px;
  color: #aaa;
}

#page-contact textarea {
  width: 390px;
}

#page-contact input:focus, #page-contact textarea:focus, #page-contact form input.error:focus, #page-contact form textarea.error:focus {
  background: #ffc;
}

#page-contact form .error {
  border: 3px dotted #f00;
  background: #faa;
}

/* Messages. */
div#messages {
  border: 3px dotted #f00;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 1.4em;
  background: #700;
}

div#messages li {
  font-size: 1em;
  list-style-type: none;
  padding-bottom: 0;
}
/* Help.*/
div.help {
  background: #111;
  border: 3px dotted #191919;
  border-radius: 20px;
  padding: 25px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
div.help p {
  padding: 0;
}

/**
 * Optional modules.
 */

/* Admin Menu. */
#admin-menu {
  background: #111;
  border-bottom: 1px solid #77F;
}