/**
 * Copyright James Panton 2011
 * http://drupal.org/user/160479
 * http://twitter.com/mcjim
 */


body {
  background: #262626 url('images/body-noise.gif');
}


/**
 * Basic typography.
 */
 /* Typography. */
body {
color: #fff;
font-family: Georgia;
}
h1 {
font-size: 3.0em;
padding-bottom: 1em;
}
h2 {
border-bottom: 1px solid #555;
font-family: Georgia, serif;
font-size: 2.1em;
font-weight: normal;
margin-bottom: 20px;
padding-bottom: 35px;
}
h3, .sidebar h2 {
border-bottom: 1px solid #555;
font-size: 1.4em;
margin-bottom: 18px;
padding-top: 22px;
padding-bottom: 18px;
}
h4 {
font-size: 1.8em;
margin-bottom: 0.7em;
}
p {
color: #ddd;
padding-bottom: 1em;
}
#main p, #main li {
font-size: 1.4em;
line-height: 1.5714em;
margin-bottom: 1.5714em;
}
.block p {
font-size: 1.2em;
padding-bottom: 1.5714em;
line-height: 1.5714em;  
}
div#footer p {
font-size: 0.9em;
}
strong {
color: #fff;
border-bottom: 2px dotted #a00;
}
code {
display: block;
color:  green;
background:  black;
padding: 5px;
margin: 0;
overflow: auto;
}
a:link  {
color: #7777FF;
text-decoration: none;
}
a:hover {
border-bottom: 1px #FFFFFF solid;
}
/* Alternative font family. */
ul.primary-links li a,
.help {
font-family: "gill sans", "trebuchet ms", sans-serif;
}